<body>

    <div class="site-wrap">
  
      <div class="site-mobile-menu site-navbar-target">
        <div class="site-mobile-menu-header">
          <div class="site-mobile-menu-close">
            <span class="icon-close2 js-menu-toggle"></span>
          </div>
        </div>
        <div class="site-mobile-menu-body"></div>
      </div>
  
  
      
  
      <div class="hero overlay" style="background-image: url('images/bg_3.jpg');">
        <div class="container">
          <div class="row align-items-center">
            <div class="col-lg-5 mx-auto text-center">
              <h1 class="text-white"> Native 2016/2017 </h1>
              <p>Dedicated to the 2016/2017 natives, this page highlights their upcoming matches and groups.</p>
            </div>
          </div>
        </div>
      </div>
  
      
      
      <div class="container">
        
        
  
        <div class="row">
          <div class="col-lg-12">
            
            <div class="d-flex team-vs">
              <span class="score">0-0</span>
              <div class="team-1 w-50">
                <div class="team-details w-100 text-center">
                  <img src="assets/front/logo/ariana.jpg" alt="Image" class="img-fluid">
                  <h3>Ariana 1 <span></span></h3>
                  
                </div>
              </div>
              <div class="team-2 w-50">
                <div class="team-details w-100 text-center">
                  <img src="assets/front/logo/cfs.jpg" alt="Image" class="img-fluid">
                  <h3>Élite megrine 1 <span></span></h3>
                  
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="site-section bg-dark">
        <div class="container">
          <div class="row">
          
            <div class="col-lg-6">
              
                <div class="widget-next-match">
                  <table class="table custom-table">
                    <thead>
                      <tr>
                        <th>P</th>
                        <th>Team</th>
                        <th>W</th>
                        <th>D</th>
                        <th>L</th>
                        <th>PTS</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>0</td>
                        <td><strong class="text-white">Ariana 1</strong></td>
                        <td>0</td>
                        <td>0</td>
                        <td>0</td>
                        <td>0</td>
                      </tr>
                      <tr>
                        <td>0</td>
                        <td><strong class="text-white">Stade Tunisien 1</strong></td>
                        <td>0</td>
                        <td>0</td>
                        <td>0</td>
                        <td>0</td>
                      </tr>
                      <tr>
                        <td>0</td>
                        <td><strong class="text-white">Élite megrine 1</strong></td>
                        <td>0</td>
                        <td>0</td>
                        <td>0</td>
                        <td>0</td>
                      </tr>
                      <tr>
                        <td>0</td>
                        <td><strong class="text-white">Olympsysky</strong></td>
                        <td>0</td>
                        <td>0</td>
                        <td>0</td>
                        <td>0</td>
                      </tr>
                      <tr>
                        <td>0</td>
                        <td><strong class="text-white">Leaders</strong></td>
                        <td>0</td>
                        <td>0</td>
                        <td>0</td>
                        <td>0</td>
                      </tr>
                     
                      
                    </tbody>
                  </table>
                </div>
    
              </div>
              <div class="col-lg-6">
              
                <div class="widget-next-match">
                  <table class="table custom-table">
                    <thead>
                      <tr>
                        <th>P</th>
                        <th>Team</th>
                        <th>W</th>
                        <th>D</th>
                        <th>L</th>
                        <th>PTS</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>0</td>
                        <td><strong class="text-white">Ariana 2</strong></td>
                        <td>0</td>
                        <td>0</td>
                        <td>0</td>
                        <td>0</td>
                      </tr>
                      <tr>
                        <td>0</td>
                        <td><strong class="text-white">Stade Tunisien 2</strong></td>
                        <td>0</td>
                        <td>0</td>
                        <td>0</td>
                        <td>0</td>
                      </tr>
                      <tr>
                        <td>0</td>
                        <td><strong class="text-white">Élite megrine 2</strong></td>
                        <td>0</td>
                        <td>0</td>
                        <td>0</td>
                        <td>0</td>
                      </tr>
                      <tr>
                        <td>0</td>
                        <td><strong class="text-white">Azzabi</strong></td>
                        <td>0</td>
                        <td>0</td>
                        <td>0</td>
                        <td>0</td>
                      </tr>
                      <tr>
                        <td>0</td>
                        <td><strong class="text-white">Carthage</strong></td>
                        <td>0</td>
                        <td>0</td>
                        <td>0</td>
                        <td>0</td>
                      </tr>
                     
                      
                    </tbody>
                  </table>
                </div>
    
              </div>
          </div>
        </div>
      </div> <!-- .site-section -->
  
  
      
      <div class="site-section bg-dark">
        <div class="container">
          
          <div class="row mb-5">
            <div class="col-lg-12">
              <div class="widget-next-match">
                <div class="widget-title">
                  <h3>Next Match</h3>
                </div>
                <div class="widget-body mb-3">
                  <div class="widget-vs">
                    <div class="d-flex align-items-center justify-content-around justify-content-between w-100">
                      <div class="team-1 text-center">
                        <img src="assets/front/logo/ariana.jpg" alt="Image">
                        <h3>Ariana 1</h3>
                      </div>
                      <div>
                        <span class="vs"><span>VS</span></span>
                      </div>
                      <div class="team-2 text-center">
                        <img src="assets/front/logo/stage.jpg" alt="Image">
                        <h3>Stade Tunisien 1	</h3>
                      </div>
                    </div>
                  </div>
                </div>
  
                <div class="text-center widget-vs-contents mb-4">
                    <h4>LinkUp Stars Juniors</h4>

                  <p class="mb-5">
                    <span class="d-block">Febr 3th, 2025</span>
                    <span class="d-block">9:30 AM </span>

                  </p>
  
                  <div id="date-countdown2" class="pb-1"></div>
                </div>
              </div>
            </div>
          </div>
  
          <div class="row">
            <div class="col-12 title-section">
              <h2 class="heading">Upcoming Match</h2>
            </div>
            <div class="col-lg-6 mb-4">
              <div class="bg-light p-4 rounded">
                <div class="widget-body">
                    <div class="widget-vs">
                      <div class="d-flex align-items-center justify-content-around justify-content-between w-100">
                        <div class="team-1 text-center">
                          <img src="assets/front/logo/leaders.jpg" alt="Image">
                          <h3>Leaders</h3>
                        </div>
                        <div>
                          <span class="vs"><span>VS</span></span>
                        </div>
                        <div class="team-2 text-center">
                          <img src="assets/front/logo/olymppski.jpg" alt="Image">
                          <h3>Olympsysky</h3>
                        </div>
                      </div>
                    </div>
                  </div>
  
                  <div class="text-center widget-vs-contents mb-4">
                    <h4>LinkUp Stars Juniors</h4>
                    <p class="mb-5">
                        <span class="d-block">Febr 20th, 2025</span>
                        <span class="d-block">10:30 AM </span>
                      <strong class="text-primary">New Euro Arena</strong>
                    </p>
  
                  </div>
                
              </div>
            </div>
            <div class="col-lg-6 mb-4">
                <div class="bg-light p-4 rounded">
                  <div class="widget-body">
                      <div class="widget-vs">
                        <div class="d-flex align-items-center justify-content-around justify-content-between w-100">
                          <div class="team-1 text-center">
                              <img src="assets/front/logo/ariana.jpg" alt="Image">
                            <h3>Ariana 2	</h3>
                          </div>
                          <div>
                            <span class="vs"><span>VS</span></span>
                          </div>
                          <div class="team-2 text-center">
                              <img src="assets/front/logo/megrin.jpg" alt="Image">
                            <h3>Élite megrine 1
                          </h3>
                          </div>
                        </div>
                      </div>
                    </div>
    
                    <div class="text-center widget-vs-contents mb-4">
                        <h4>LinkUp Stars Juniors</h4>
                        <p class="mb-5">
                            <span class="d-block">Febr 15th, 2025</span>
                            <span class="d-block">8:30 AM </span>
                        <strong class="text-primary">New Euro Arena</strong>
                      </p>
    
                    </div>
                  
                </div>
              </div>
            <div class="col-lg-6 mb-4">
              <div class="bg-light p-4 rounded">
                <div class="widget-body">
                    <div class="widget-vs">
                      <div class="d-flex align-items-center justify-content-around justify-content-between w-100">
                        <div class="team-1 text-center">
                            <img src="assets/front/logo/azzabi.jpg" alt="Image">
                            <h3>Azzabi</h3>
                        </div>
                        <div>
                          <span class="vs"><span>VS</span></span>
                        </div>
                        <div class="team-2 text-center">
                            <img src="assets/front/logo/cfs.jpg" alt="Image">
                            <h3>Carthage</h3>
                        </div>
                      </div>
                    </div>
                  </div>
  
                  <div class="text-center widget-vs-contents mb-4">
                    <h4>LinkUp Stars Juniors</h4>
                    <p class="mb-5">
                        <span class="d-block">Feb 5th, 2025</span>
                        <span class="d-block">11:30 AM </span>
                      <strong class="text-primary">New Euro Arena</strong>
                    </p>
  
                  </div>
                
              </div>
            </div>
  
            <div class="col-lg-6 mb-4">
              <div class="bg-light p-4 rounded">
                <div class="widget-body">
                    <div class="widget-vs">
                      <div class="d-flex align-items-center justify-content-around justify-content-between w-100">
                        <div class="team-1 text-center">
                            <img src="assets/front/logo/megrin.jpg" alt="Image">
                          <h3>Élite megrine 2	</h3>
                        </div>
                        <div>
                          <span class="vs"><span>VS</span></span>
                        </div>
                        <div class="team-2 text-center">
                            <img src="assets/front/logo/stage.jpg" alt="Image">
                          <h3>Stade Tunisien 2</h3>
                        </div>
                      </div>
                    </div>
                  </div>
  
                  <div class="text-center widget-vs-contents mb-4">
                    <h4>LinkUp Stars Juniors</h4>
                    <p class="mb-5">
                        <span class="d-block">Feb 10th, 2025</span>
                        <span class="d-block">12:30 AM </span>
                      <strong class="text-primary">New Euro Arena</strong>
                    </p>
  
                  </div>
                
              </div>
            </div>
           
            
          </div>
        </div>
      </div> <!-- .site-section -->
  
      
  
  
  
      
  
  
  
    </div>
    <!-- .site-wrap -->
  
    <script src="js/jquery-3.3.1.min.js"></script>
    <script src="js/jquery-migrate-3.0.1.min.js"></script>
    <script src="js/jquery-ui.js"></script>
    <script src="js/popper.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/owl.carousel.min.js"></script>
    <script src="js/jquery.stellar.min.js"></script>
    <script src="js/jquery.countdown.min.js"></script>
    <script src="js/bootstrap-datepicker.min.js"></script>
    <script src="js/jquery.easing.1.3.js"></script>
    <script src="js/aos.js"></script>
    <script src="js/jquery.fancybox.min.js"></script>
    <script src="js/jquery.sticky.js"></script>
    <script src="js/jquery.mb.YTPlayer.min.js"></script>
  
  
    <script src="js/main.js"></script>
  
  </body>