<h1>Détails du Match</h1>
<div *ngIf="matchDetails" class="match-details">
  <div class="match-header">
    <p><strong>Date:</strong> {{ matchDetails.datetime | date: 'yyyy-MM-dd' }}</p>
    <p><strong>Heure:</strong> {{ matchDetails.datetime | date: 'HH:mm' }}</p>
    <p><strong>Nombre de Mi-temps:</strong> {{ matchDetails.nbrmitemps }}</p>
    <p><strong>Durée Mi-temps:</strong> {{ matchDetails.duree_mitemps }}</p>
  </div>

  <div class="match-content">
    <!-- Équipe Gauche -->
    <div class="team left-team">
      <h3>{{ matchDetails.academies[0]?.nom }}</h3>
      <ul>
        <li *ngFor="let joueur of matchDetails.academies[0]?.joueurs"></li>
      </ul>
    </div>

    <!-- Score au Centre -->
    <div class="score-section">
      <h2>{{ matchDetails.score }}</h2>
      <div class="timer">
        <p>Timer: {{ timers[matchDetails.id]?.timer }}</p>
        
      </div>
    </div>

    <!-- Équipe Droite -->
    <div class="team right-team">
      <h3>{{ matchDetails.academies[1]?.nom }}</h3>
      <ul>
        <li *ngFor="let joueur of matchDetails.academies[1]?.joueurs"></li>
      </ul>
    </div>
  </div>
  <div class="score-section">
    <div class="timer">
      <button class="start-button" (click)="startTimer(matchDetails.id, matchDetails.duree_mitemps)">
        Start
      </button>
      <button class="stop-button" (click)="stopTimer(matchDetails.id)">
        Stop
      </button>
    </div>
    <div class="goal-section">
      <button (click)="openGoalModal(matchDetails.id)">
        <i class="fas fa-futbol"></i> Ajouter un but
      </button>
    </div>
  </div>
  
  <!-- Modal pour ajouter un but -->
  <div *ngIf="isGoalModalOpen" class="goal-modal">
    <div class="modal-content">
      <h3>Ajouter un But</h3>
      <label for="academy">Académie :</label>
      <select id="academy" [(ngModel)]="selectedAcademieId" (ngModelChange)="onAcademyChange($event)">
        <option *ngFor="let academy of matchDetails.academies" [value]="academy.id">
          {{ academy.nom }}
        </option>
      </select>
      
  
      <label for="joueur">Joueur :</label>
      <select id="joueur" [(ngModel)]="selectedJoueurId">
        <option *ngFor="let joueur of joueurs" [value]="joueur.id">
          {{ joueur.nom }}
        </option>
      </select>
  
      <div class="modal-actions">
        <button (click)="addGoal(matchDetails.id)">Valider</button>
        <button (click)="closeGoalModal()">Annuler</button>
      </div>
    </div>
  </div>
  <div class="buts-marques">
    <h3>Buts Marqués</h3>
    <table>
      <thead>
        <tr>
          <th></th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let but of butsMarques">
          <td>⚽{{ but.temps }} |</td>
          <td> {{ but.joueur.nom }}</td>
         
        </tr>
      </tbody>
    </table>
  </div>
  

  <button [routerLink]="'/admin/DisplayMatches'" class="back-button">Retour</button>
</div>
