
.match-details {
  margin: 20px;
  padding: 25px;
  border-radius: 8px;
  background-color: #f4f4f9;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

  .match-header {
    text-align: center;
    margin-bottom: 20px;

    p {
      font-size: 16px;
      margin: 5px 0;
    }
  }

  .match-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
    flex-wrap: nowrap;
    gap: 10px; /* Espace entre les boutons */


    .academie {
      width: 45%;
      padding: 15px;
      background-color: #fff;
      border-radius: 8px;
      box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
      margin-bottom: 20px;

      h4 {
        font-size: 18px;
        text-align: center;
        margin-bottom: 15px;
        color: #333;
      }

      .position-relative {
        display: flex;
        flex-direction: column;
        align-items: center;
      }

      img {
        max-height: 100px;
        border-radius: 8px;
        margin-bottom: 10px;
      }
    }

    .score-section {
      width: 10%;
      text-align: center;
      background-color: #fff;
      padding: 15px;
      border-radius: 8px;
      box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
      margin: 0 10px;

      h2 {
        font-size: 36px;
        margin: 10px 0;
        color: #333;
      }

      .timer {
        font-size: 16px;
        margin-top: 10px;

        button {
          margin: 5px;
          padding: 8px 12px;
          border: none;
          border-radius: 4px;
          background-color: #007bff;
          color: white;
          cursor: pointer;
          transition: background-color 0.3s ease;

          &:hover {
            background-color: #0056b3;
          }
        }
      }
    }
  }

  .back-button {
    display: block;
    margin: 30px auto 0;
    padding: 10px 20px;
    background-color: #ff7043;
    color: white;
    border: none;
    border-radius: 5px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    transition: background-color 0.3s ease;

    &:hover {
      background-color: #d45c33;
    }
  }

  .modal-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 30px;
    border-radius: 8px;
    width: 400px; /* Standard width for modals */
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
  }
  
  .form-group {
    margin-bottom: 20px;
  
    label {
      font-weight: bold;
      display: block;
      margin-bottom: 5px;
    }
  
    select {
      width: 100%;
      padding: 8px;
      font-size: 16px;
      border-radius: 4px;
      border: 1px solid #ddd;
    }
  }
  
  button {
    background-color: #007bff;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
    margin-top: 15px;
    font-size: 16px;
  
    &:hover {
      background-color: #0056b3;
    }
  }
  
  .modal-content h4 {
    margin-bottom: 20px;
    font-size: 18px;
    text-align: center;
  }
  
  .close {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 30px;
    color: #333;
    cursor: pointer;
    transition: color 0.3s ease;
  
    &:hover {
      color: #ff7043;
    }
  }
  
  .modal {
    display: block; /* Make modal visible when isModalOpen or isCartonModalOpen is true */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 1000;
    transition: opacity 0.3s ease;
  }
  .start-button,
  .stop-button {
    font-size: 12px; /* Réduit la taille de la police */
    padding: 6px 10px; /* Réduit la taille du bouton */
    background-color: #000; /* Noir pour les deux boutons */
    color: white; /* Texte en blanc */
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .start-button:hover,
  .stop-button:hover {
    background-color: #333; /* Assombrit le bouton au survol */
  }

  /* Animation d'apparition du modal */
  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

  /* Media Queries for responsive design */
  @media (max-width: 768px) {
    .match-content {
      flex-direction: column;
      align-items: stretch;

      .academie, .score-section {
        width: 100%;
        margin-bottom: 20px;
      }

      .score-section {
        width: 100%;
      }
    }

    .back-button {
      width: 100%;
      padding: 12px 0;
    }
  }

  @media (max-width: 480px) {
    .match-header p {
      font-size: 14px;
    }

    .score-section h2 {
      font-size: 30px;
    }

    .score-section button {
      font-size: 14px;
      padding: 6px 10px;
    }
  }
}