<br>
<br>
<br>
<br>
<br>
<div class="container-xxl">
    <div class="authentication-wrapper authentication-basic container-p-y">
      <div class="authentication-inner">
        <!-- Register Card -->
        <div class="card">
          <div class="card-body">
            <br>
            <br>
            <!-- /Logo -->
            <h4 class="mb-2">Ajouter Joueur</h4>
            <br>
            <label for="firstname" class="form-label">Profile Picture </label>

<!-- Image Selection -->
<div class="image-selection">
  <!-- Hidden file input -->
  <input type="file" id="fileInput"   accept="image/*"
  (change)="fileChangeEvent($event)" class="file-input" style="display: none;" />
 
  <!-- Label to trigger the file input -->
  <label for="fileInput" class="btn btn-primary d-grid w-100">Choose File</label>
  <div *ngIf="isBrowser">

    <image-cropper
    [imageChangedEvent]="imageChangedEvent"
    [maintainAspectRatio]="true"
    [aspectRatio]="4 / 3"
    [format]="cropperFormat"
    (imageCropped)="imageCropped($event)"
    (imageLoaded)="imageLoaded($event)"
    (cropperReady)="cropperReady()"
    (loadImageFailed)="loadImageFailed()"
    class="image-cropper"
  ></image-cropper>
  </div>
  <img [src]="croppedImage" class="circled-image" />
 </div>
 
 


   
            <br>
            <form [formGroup]="RegForm" id="formAuthentication" class="mb-3" (ngSubmit)="userCreate()">
              <div class="mb-3">
                <label for="nom" class="form-label">nom</label>
                <input type="text" class="form-control" id="nom" name="nom" placeholder="Enter your firstName"
                  autofocus formControlName="nom" />
              </div>
              <div class="mb-3">
                <label for="prenom" class="form-label">prenom</label>
                <input type="text" class="form-control" id="prenom" name="prenom" placeholder="Enter your lastname"
                  autofocus formControlName="prenom" />
              </div>
              <div class="mb-3">
                <label for="telephone" class="form-label">telephone</label>
                <input type="text" class="form-control" id="telephone" name="telephone" placeholder="Enter your number"
                  autofocus formControlName="telephone" />
              </div>
              
              <div class="mb-3">
                <label for="datenaissance" class="form-label">datenaissance</label>
                <input type="date" class="form-control" id="datenaissance" name="datenaissance" placeholder="Enter your BirthDay"
                  autofocus formControlName="datenaissance" />
              </div>
              <div class="mb-3">
                <label for="category" class="form-label">Category (Year)</label>
                <input 
                  id="category" 
                  type="number" 
                  class="form-control" 
                  formControlName="categorie" 
                  placeholder="Select year"
                  min="1900" 
                  max="2100">
              </div>
              
  
  
              <button class="btn btn-primary d-grid w-100">Ajouter joueur</button>
  
            </form>
  
              
          </div>
        </div>
        <!-- Register Card -->
      </div>
    </div>
  </div>
  
  <!-- / Content -->
  