<br>
<br>
<br>
<br>
<br>
<div class="container mt-5">
    <div class="card p-2">

        <div class="row">
            <div class="col-6">


                
                <form #academieForm="ngForm" (ngSubmit)="updateAcademie(academieForm)">
                    <div class="form-outline mb-4">
                        <input class="form-control" id="form1Example1" [(ngModel)]="academie.nom" name="nom" />
                        <label class="form-label" for="form1Example1">Nom</label>
                    </div>
                    <div class="form-outline mb-4">
                        <input class="form-control" id="form1Example2" [(ngModel)]="academie.nomproprietaire" name="nomproprietaire"/>
                        <label class="form-label" for="form1Example1">Nom proprietaire</label>
                    </div>
                    <div class="form-outline mb-4">
                        <input class="form-control" id="form1Example3" [(ngModel)]="academie.adresse" name="adresse"/>
                        <label class="form-label" for="form1Example1">Adresse</label>
                    </div>
                    <div class="form-outline mb-4">
                        <input class="form-control" id="form1Example4" [(ngModel)]="academie.telephone" name="telephone"/>
                        <label class="form-label" for="form1Example1">Telephone</label>
                    </div>
                    <div class="form-outline mb-4">
                        <input class="form-control" id="form1Example5" [(ngModel)]="academie.email" name="email"/>
                        <label class="form-label" for="form1Example1">Email</label>
                    </div>
                    
                    
                    

                    <div align="end">
                        <button type="button" class="btn btn-outline-dark" (click)="clear(academieForm)">Clear</button>
                        <button type="submit" class="btn btn-outline-success">Update Course</button>
                    </div>

                </form>


            </div>
            <div class="col-6">
                <div>
                    
                    <div class="dropzone" appDrag (files)="fileDropped($event)">
                        <div class="text-wrapper">
                            <div class="centred">Drag your file or <a class="browse-button" (click)="selectFile.click()">browse</a> a file</div>
                            
                        </div>
                    </div>
                    <input style="display: none;" type="file" value="select" #selectFile
                    (change)="onFileSelected($event)">
                </div>
                <div class="mt-5">
                    <div class="row">
                        <mat-grid-list cols="1" rowHeight="1:1">
                            <mat-grid-tile *ngFor="let file of academie.images; let i = index;">
                                <div style="position: relative;">
                                    <span class="btn-remove-image" (click)="removeImages(i)">x</span>
                                    <img [src]="file.url" width="100px" height="100px">
                                </div>
                            </mat-grid-tile>
                        </mat-grid-list>
                    </div>
                </div>
                
            </div>

        </div>

    </div>
</div>
<br>
<br>
<br>
<br>
<br>
<br>