<!-- ======= Header ======= -->
<header id="header" class="header fixed-top d-flex align-items-center">
  <div class="d-flex align-items-center justify-content-between">
      <a href="index.html" class="logo d-flex align-items-center">
          <img src="/assets/link.png" alt="Logo" class="logo-image">
          <span class="d-none d-lg-block"></span>
      </a>
  </div><!-- End Logo -->

  <nav class="header-nav ms-auto">
      <ul class="d-flex align-items-center">
          <li class="nav-item d-block d-lg-none">
              <a class="nav-link nav-icon search-bar-toggle" href="#">
                  <i class="bi bi-search"></i>
              </a>
          </li><!-- End Search Icon -->

          <!-- Bouton de déconnexion avec icône -->
          <li class="nav-item dropdown pe-3">
            <li *ngIf="!isLoggedIn">
              <a class="nav-link login-btn" [routerLink]="'/user/login'">
                <i class="bi bi-person"></i> Login
              </a>
            </li>
            <li *ngIf="isLoggedIn" (click)="logout()">
              <a class="nav-link logout-btn">
                <i class="bi bi-box-arrow-right"></i> Logout
              </a>
            </li>
         
      </ul>
  </nav><!-- End Icons Navigation -->
</header><!-- End Header -->
