<br>
<br>
<br>
<br>
<br>
<div class="container">
    <h1> Liste Des Tournois</h1>
<br>


<br>

<div class="layout-wrapper layout-content-navbar">
  <div class="layout-container">
    
    <!-- Layout container -->
    <div class="layout-page">
      <!-- Navbar -->

    
  <div class="content-wrapper">
      <!-- Content -->
    
      <div class="container-xxl flex-grow-1 container-p-y">
        
        <div class="row">
          <div class="col-md-12">
            <div class="card">
    
    
              <h5 class="card-header">TOURNOI : </h5>
              <!-- Select Options Field -->
              
              
    
    
              <div class="table-responsive text-nowrap">
                  <table class="table">
                    <caption class="ms-4">List of TOURNOIs</caption>
                    <thead>
                      <tr>
                        <th>Nom</th>
                        <th>Date Debut</th>
                        <th>Date Fin</th>
                        <th>Lieu</th>
                        <th>Type</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let item of tournoiList">
                        <td>{{item.nom}}</td>
                        <td>{{item.dateDebut}}</td> 
                        <td>{{item.dateFin}}</td> 
                        
                        <td>{{item.lieu}}</td> 
                        <td>
                          <span [ngClass]="{'blue-cell': item.type === 'Championship', 'green-cell': item.type === 'Cup'}">
                            {{item.type}}
                          </span>
                        </td>
                        
                        
                        <td>
                          <div class="dropdown">
                            <button type="button" class="btn p-0 dropdown-toggle hide-arrow" data-bs-toggle="dropdown">
                              <i class="bx bx-dots-vertical-rounded"></i>
                            </button>
                            <div class="dropdown-menu">
                            
                              
                              <button (click)="delete(item.id)" class="dropdown-item" href="javascript:void(0);"
                                ><i class="bx bx-trash me-1"></i> Delete</button
                              >
                            </div>
                          </div>
                        </td>
                        
                      </tr>
                    </tbody>
                  </table>
                </div>
                
    
    
              <!-- /Account -->
            </div>
            <br>
            
          </div>
        </div>
      
      </div>
      <!-- / Content -->
    
    
    </div>
        </div></div></div>
        <div class="buy-now">
          <a
            href="admin/Tournoi"
            class="btn btn-primary btn-buy-now"
          >Organiser un TOURNOI</a
          >
        </div>


  
</div>